%h2= report.formatted_title

Download Report: 
= link_to 'CSV', formatted_dossier_report_path('csv', report), class: 'download-csv'
,&nbsp;
= link_to 'Excel', formatted_dossier_report_path('xls', report), class: 'download-csv'

= render_options(report)

%table.table.table-striped
  %thead
    %tr
      - report.results.headers.each do |header|
        %th= header
  %tbody
    - report.results.body.each do |row|
      %tr
        - row.each do |value|
          %td= value

  - if report.results.footers.any?
    %tfoot
      - report.results.footers.each do |row|
        %tr
          - row.each do |value|
            %th= value
